// media queries:
$mobileWidth: 576px;
$samllWidth: 768px;
$mediumWidth: 992px;
$largeWidth: 1200px;

// direction:
$text-left: left;
$text-right: right;

// colors:
$mainColor: #689f38;
$whiteColor: #ffffff;
$blackColor: #333333;
$greyColor: #555555;

// fix values:
$radius: 0.5rem;
$defaultFont: 1rem;
$generalPadding: 80px;
